/* This css file should only contain asthectic rules not layout or structure, they belong in *_layout.css */

/* make read only inputs look like they are not editable */
[readonly] {
    border-width: 0;
}

/* make values bold */
input {
    font-weight: bold;
}

/* make invalid fields noticeable */
:invalid {
  border-color: red;
}

