/* This css file should only contain layout or structure rules not asthectic, they belong in *_theme.css */

.requestItemDetails .editButton {
    float: right;
}
.requestItemDetailsEdit .saveButton {
    float: right;
}
.requestItemDetailsEdit .deleteButton {
    float: right;
}
.requestItemDetailsEdit .duplicateButton {
    float: right;
}
.dateOpener .doneButton {
    float: right;
}

/* adjust so the form fields stack */
label {
    display: block;
}
/* leave some room between fields */
input, textarea {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}








