/* This css file should only contain asthectic rules not layout or structure, they belong in *_layout.css */

/* make read only inputs look like they are not editable */
.requestItemDetails input, .requestItemDetails textarea {
    border-width: 0;
}

.requestItemDetailsEdit .noEdit {
    border-width: 0;
}

/* make values bold */
input {
    font-weight: bold;
}

/* make invalid fields noticeable */
:invalid {
    border-color: red;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
