[submodule "dapp-request/src/dojo"]
	path = dapp-request/src/dojo
	url = git@github.com:dojo/dojo.git
	ignore = all
[submodule "dapp-request/src/dijit"]
	path = dapp-request/src/dijit
	url = git@github.com:dojo/dijit.git
	ignore = all
[submodule "dapp-request/src/dojox"]
	path = dapp-request/src/dojox
	url = git@github.com:dojo/dojox.git
	ignore = all
[submodule "dapp-request/src/util"]
	path = dapp-request/src/util
	url = git@github.com:dojo/util.git
	ignore = all
