<div class="view mblView">
  <h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props="back: '${nls.back}'">
    ${nls.requests}

    <!--//TODO: hide for now until we have add function implemented
    <button data-dojo-type="dojox/mobile/ToolBarButton" style="position: absolute; right: 0"
        data-dojo-attach-point="createButton"
        data-dojo-attach-point="add">
    ${nls.add}
    </button>
    -->
	<button data-dojo-type="dojox/mobile/ToolBarButton"
		style="float:right"
		data-dojo-attach-point="search"
		data-dojo-props="target: 'requestListSearch',
              transitionOptions : {
                      'transition': 'fade'
                    }"
		>
		${nls.search}
	</button>
	<button data-dojo-type="dojox/mobile/ToolBarButton"
		style="float:right"
		data-dojo-attach-point="sort"
		data-dojo-props="target: 'requestListSort',
              transitionOptions : {
                      'transition': 'fade'
                    }"
		>
		${nls.sort}
	</button>
    
  </h1>

  <!-- hide for now until advance search is implemented
  <button data-dojo-type="dojox/mobile/Button"
          data-dojo-attach-point="searchButton">
  ${nls.search}
  </button>
  -->

  <!-- target and clickable are set in the ul/StoreList to be inherent by li/children being created see list.js for paramsToInherit: "target,clickable"-->
  <ul data-dojo-type="dojox/mobile/EdgeToEdgeStoreList"
      id="requestsList"
      data-dojo-attach-point="requests"
      data-dojo-props="store: this.loadedStores.requestsListStore,
      itemRenderer: this.RequestListItem,
      itemMap:{description:'label'}, labelProperty:'description',
      target: 'requestItemDetails',
      clickable: true"
      data-dojo-mixins="dojox/mobile/FilteredListMixin">
  </ul>
  <!-- FIXME: We should use itemMap and then use event delegation with query selector on ul
              Uncomment this when event delegation is implemented
              bug #5 https://github.com/csantanapr/dapp-examples/issues/5
  <ul data-dojo-type="dojox/mobile/EdgeToEdgeStoreList"
      data-dojo-attach-point="requests"
      data-dojo-props="store: this.loadedStores.requestsListStore,itemMap:{description:'label'}">
  </ul>
   -->

</div>