<div class="view mblView">
  <h1 data-dojo-type="dojox/mobile/Heading">
    ${nls.details}

    <!-- class cancelButton use in css files-->
    <button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-props="back: true"
            >
    ${nls.cancel}
    </button>

    <!-- class saveButton use in css files-->
    <button class="saveButton"
            data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="saveButton"
            data-dojo-attach-event="onClick: _saveForm"
            data-dojo-props="back: true"> <!-- Do a back for now until save function is implemented -->
    ${nls.save}
    </button>
  </h1>


  <div data-dojo-type="dojox/mobile/RoundRect">
    <form>
      <fieldset>
        <label>${nls.id}:
          <input  name="id"
                  type="text"
                  placeholder="${nls.id}"
                  readonly="readonly"
                  class="noEdit"
                  data-dojo-type="dojox/mobile/TextBox"
                  data-dojo-attach-point="reqid">
        </label>
        <label>${nls.requestType}:
          <input  name="requestType"
                  type="text"
                  placeholder="${nls.requestType}"
                  readonly="readonly"
                  data-dojo-type="dojox/mobile/TextBox"
                  data-dojo-attach-point="requestType">
        </label>
        <label>${nls.description}:
          <textarea name="description"
                    placeholder="${nls.description}"
                    data-dojo-type="dojox/mobile/ExpandingTextArea"
                    data-dojo-attach-point="description">
          </textarea>
        </label>
        <label>${nls.status}:
          <input  name="status"
                  type="text"
                  placeholder="${nls.status}"
                  readonly="readonly"
                  data-dojo-type="dojox/mobile/TextBox"
                  data-dojo-attach-point="status">
        </label>
        <label>${nls.priority}:
          <input  name="priority"
                  type="text"
                  placeholder="${nls.priority}"
                  readonly="readonly"
                  data-dojo-type="dojox/mobile/TextBox"
                  data-dojo-attach-point="priority">
        </label>
        <label>${nls.requestedBy}:
          <input  name="requestedBy"
                  type="email"
                  placeholder="${nls.requestedBy}"
                  data-dojo-type="dojox/mobile/TextBox"
                  data-dojo-attach-point="requestedBy">
        </label>
        <label>${nls.requestedFinishDate}:
          <input  name="requestedFinishDate"
                  type="text"
                  placeholder="${nls.requestedFinishDate}"
                  readonly="readonly"
                  data-dojo-type="dojox/mobile/TextBox"
                  data-dojo-attach-point="requestedFinishDate">
        </label>
        <label>${nls.assignedTo}:
          <input  name="assignedTo"
                  type="email"
                  placeholder="${nls.assignedTo}"
                  data-dojo-type="dojox/mobile/TextBox"
                  data-dojo-attach-point="assignedTo">
        </label>
        <label>${nls.actualFinishDate}:
          <input  name="actualFinishDate"
                  type="text"
                  placeholder="${nls.actualFinishDate}"
                  readonly="readonly"
                  data-dojo-type="dojox/mobile/TextBox"
                  data-dojo-attach-point="actualFinishDate">
        </label>
        <label>${nls.estimatedUnits}:
          <input  name="estimatedUnits"
                  type="number"
                  placeholder="${nls.estimatedUnits}"
                  min="0"
                  data-dojo-type="dojox/mobile/TextBox"
                  data-dojo-attach-point="estimatedUnits">
        </label>
        <label>${nls.unitType}:
          <input  name="unitType"
                  type="text"
                  placeholder="${nls.unitType}"
                  readonly="readonly"
                  data-dojo-type="dojox/mobile/TextBox"
                  data-dojo-attach-point="unitType">
        </label>
        <label>${nls.createdDate}:
          <input  name="createdDate"
                  type="text"
                  placeholder="${nls.createdDate}"
                  readonly="readonly"
                  class="noEdit"
                  data-dojo-type="dojox/mobile/TextBox"
                  data-dojo-attach-point="createdDate">
        </label>
        <label>${nls.updatedDate}:
          <input  name="updatedDate"
                  type="text"
                  placeholder="${nls.updatedDate}"
                  readonly="readonly"
                  class="noEdit"
                  data-dojo-type="dojox/mobile/TextBox"
                  data-dojo-attach-point="updatedDate">
        </label>
      </fieldset>
    </form> <!-- end dojox/mobile/FormLayout -->
  </div> <!-- end dojox.mobile.RoundRect -->


  <button data-dojo-type="dojox/mobile/Button"
        data-dojo-attach-point="copyButton"
        data-dojo-attach-event="onClick: _copyForm">
  ${nls.duplicate}
  </button>


   <button data-dojo-type="dojox/mobile/Button"
        data-dojo-attach-event="onClick: _showConfirmDelete"
        class="mblRedButton">${nls.remove}
  </button>


  <div class="dateOpener" data-dojo-type="dojox/mobile/Opener"
       data-dojo-attach-point="opener">
    <h1 data-dojo-type="dojox/mobile/Heading">
      <button data-dojo-type="dojox/mobile/ToolBarButton"
              data-dojo-attach-event="onClick: _cancelOpener">
        ${nls.cancel}
      </button>
      <button class="doneButton" data-dojo-type="dojox/mobile/ToolBarButton"
              data-dojo-attach-event="onClick: _doneOpener">
        ${nls.done}
      </button>

    </h1>
    <div data-dojo-type="dojox/mobile/DatePicker"
         data-dojo-attach-point="datePicker"></div>
  </div><!-- end Opener -->

  <div data-dojo-type="dojox/mobile/SimpleDialog"
       data-dojo-attach-point="confirmDelete">
    <div class="mblSimpleDialogTitle">${nls.confirm}</div>
    <div class="mblSimpleDialogText">${nls.confirm_delete}</div>
    <button data-dojo-type="dojox/mobile/Button"
            class="mblSimpleDialogButton"
            data-dojo-attach-event="onClick: _hideConfirmDelete">
    ${nls.cancel}
    </button>
    <button data-dojo-type="dojox/mobile/Button"
            class="mblSimpleDialogButton"
            data-dojo-attach-event="onClick: _deleteRequest">
    ${nls.ok}
    </button>
  </div>
</div>