<div class="view mblView">
  <h1 data-dojo-type="dojox/mobile/Heading">
    ${nls.details}
    <button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            style="position: absolute; left: 0"
            data-dojo-props="arrow: 'left'"
            onclick="history.back();">
    ${nls.back}
    </button>
    <button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="cancelButton"
            style="position: absolute; left: 0"
            onclick="history.back();">
    ${nls.cancel}
    </button>


    <button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="editButton"
            style="position: absolute; right: 0"
            data-dojo-props="target: 'requestItemDetailsEdit',
            transitionOptions : {
                    'params': {
                        'id' : this.params.id
                    },
                    'transition': 'fade'
                  }
            ">
    ${nls.edit}
    </button>
  </h1>


  <div data-dojo-type="dojox/mobile/RoundRect">
    <div data-dojo-type="dojox/mobile/FormLayout"
         data-dojo-attach-point="formLayout">

      <fieldset>
        <label for="reqid">${nls.id}</label>
        <input type="text" name="id" data-dojo-type="dojox/mobile/TextBox"
             data-dojo-props="readOnly: true, placeHolder: '${nls.id}'" data-dojo-attach-point="reqid">
      </fieldset>

      <fieldset>
        <label for="requestType">${nls.requestType}</label>
        <input name="requestType" data-dojo-type="dojox/mobile/TextBox"
               data-dojo-props="readOnly: true, placeHolder: '${nls.requestType}', usesOpener:true" data-dojo-attach-point="requestType">
      </fieldset>

      <fieldset>
        <label for="description">${nls.description}</label>
        <textarea name="description" data-dojo-type="dojox/mobile/ExpandingTextArea"
             data-dojo-props="placeHolder: '${nls.description}'" data-dojo-attach-point="description"></textarea>
      </fieldset>

      <fieldset>
      <label for="status">${nls.status}</label>
      <input name="status" data-dojo-type="dojox/mobile/TextBox"
           data-dojo-props="readOnly: true, placeHolder: '${nls.status}', usesOpener:true" data-dojo-attach-point="status">
      </fieldset>

      <fieldset>
      <label for="priority">${nls.priority}</label>
      <input name="priority" data-dojo-type="dojox/mobile/TextBox"
           data-dojo-props="readOnly: true, placeHolder: '${nls.priority}', usesOpener:true" data-dojo-attach-point="priority">
      </fieldset>


      <fieldset>
        <label for="requestedBy">${nls.requestedBy}</label>
        <input name="requestedBy" data-dojo-type="dojox/mobile/TextBox"
             data-dojo-props="placeHolder: '${nls.requestedBy}'" data-dojo-attach-point="requestedBy">
      </fieldset>


      <fieldset>
        <label for="requestedFinishDate">${nls.requestedFinishDate}</label>
        <input name="requestedFinishDate" data-dojo-type="dojox/mobile/TextBox"
             data-dojo-props="readOnly: true, placeHolder: '${nls.requestedFinishDate}', usesOpener:true" data-dojo-attach-point="requestedFinishDate">
      </fieldset>


      <fieldset>
        <label for="assignedTo">${nls.assignedTo}</label>
        <input name="assignedTo" data-dojo-type="dojox/mobile/TextBox"
             data-dojo-props="placeHolder: '${nls.assignedTo}'" data-dojo-attach-point="assignedTo">
      </fieldset>


      <fieldset>
        <label for="actualFinishDate">${nls.actualFinishDate}</label>
        <input name="actualFinishDate" data-dojo-type="dojox/mobile/TextBox"
             data-dojo-props="placeHolder: '${nls.actualFinishDate}'" data-dojo-attach-point="actualFinishDate">
      </fieldset>


      <fieldset>
        <label for="estimatedUnits">${nls.estimatedUnits}</label>
        <input name="estimatedUnits" data-dojo-type="dojox/mobile/TextBox"
             data-dojo-props="placeHolder: '${nls.estimatedUnits}'" data-dojo-attach-point="estimatedUnits">
        <input name="unitType" data-dojo-type="dojox/mobile/TextBox"
             data-dojo-props="readOnly: true, placeHolder: '${nls.unitType}', usesOpener:true" data-dojo-attach-point="unitType">
      </fieldset>


        <fieldset>
          <label for="createdDate">${nls.createdDate}</label>
          <input name="createdDate" data-dojo-type="dojox/mobile/TextBox"
               data-dojo-props="placeHolder: '${nls.createdDate}'" data-dojo-attach-point="createdDate">

        </fieldset>


        <fieldset>
        <label for="updatedDate">${nls.updatedDate}</label>
          <input name="updatedDate" data-dojo-type="dojox/mobile/TextBox"
               data-dojo-props="placeHolder: '${nls.updatedDate}'" data-dojo-attach-point="updatedDate">
        </fieldset>

      </div> <!-- end dojox/mobile/FormLayout -->
    </div> <!-- end dojox.mobile.RoundRect -->

    <button data-dojo-type="dojox/mobile/Button"
          data-dojo-attach-point="deleteButton" data-dojo-attach-event="onClick: _deleteRequest"
          class="mblRedButton">${nls.remove}
    </button>
    <button data-dojo-type="dojox/mobile/Button"
          data-dojo-attach-point="copyButton"
          data-dojo-attach-event="onClick: _copyForm">
    ${nls.copy}
    </button>


</div>